<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.12.0/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <style>@import url("//unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css");</style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script src="/js/jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/Ajax.js"></script>
</head>
<body>
这是付款界面
<div class="container">
    <div class="row">
        <h1 class="payHeadLine">购买页面</h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img th:src="${good.getPicSrc()}" style="width: 350px;height: 350px">
        </div>
        <div class="col-lg-8">
            <span class="glyphicon glyphicon-ok">
                <span>购买完成</span>
            </span>
            <h2 class="payInfo">订单号：</h2><span th:text="${order.getId()}"></span>
            <h2 class="payInfo">下单时间：</h2><span th:text="${order.getBuytime()}"></span>
            <h2 class="payInfo">已付金额：</h2><span th:text="${order.getPaymoney()}"></span>
            <h2 class="payInfo">商品名称：</h2><span th:text="${good.getGname()}"></span>
            <br>
            <a href="/">点我返回首页继续买东西</a>
        </div>


    </div>
</div>

</body>
</html>